<div class="view-contact">
  <header class="view-contact-heading"> View Contact Details </header>
  <div class="contact-details">
    <div class="contact-field">
      <div class="contact-key">First Name:</div>
      <div class="contact-value">{{contact.firstName}}</div>
    </div>
    <div class="contact-field">
      <div class="contact-key">Last Name:</div>
      <div class="contact-value">{{contact.lastName}}</div>
    </div>
    <div class="contact-field">
      <div class="contact-key">Phone Number:</div>
      <div class="contact-value">{{contact.phoneNumber}}</div>
    </div>
    <div class="contact-field">
      <div class="contact-key">Email</div>
      <div class="contact-value">{{contact.email}}</div>
    </div>
    <div class="contact-field">
      <div class="contact-key">Status</div>
      <div class="contact-value">{{contact.status ? "Active" : "Inactive"}}</div>
    </div>
  </div>
</div>